awscli==1.11.20
blinker==1.3
boto==2.43.0
boto3==1.4.1
botocore==1.4.87
chardet==2.3.0
click==6.6
colorama==0.3.7
configobj==5.0.6
cryptography==3.2
docutils==0.12
idna==2.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonpatch==1.10
jsonpointer==1.9
MarkupSafe==0.23
numpy==1.11.2
oauthlib==1.0.3
pandas==0.19.1
patsy==0.4.1
prettytable==0.7.2
pyasn1==0.1.9
pycurl==7.43.0
#pygobject==3.20.0
PyJWT==1.3.0
pyserial==3.0.1
python-dateutil==2.6.0
pytz==2016.7
PyYAML==3.11


requests==2.9.1
rsa==3.4.2
s3transfer==0.1.9
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sklearn==0.0
ssh-import-id==5.5
statsmodels==0.6.1
urllib3==1.13.1
Werkzeug==0.11.11
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.1.2
gunicorn==19.7.1
gevent==1.2.2
aiohttp==3.1.3
aiohttp-cors==0.7.0
uvloop==0.9.1
bs4==0.0.1
aiomysql==0.0.14
redis==2.10.6
APScheduler==3.3.1
